*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*background-color: rgba(239, 213, 153, 0.31)*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.mainbody {
    background-color: rgba(9, 29, 32, 0.74);
}

/*.home{
    background-color: black;
    color: white
}*/

.navbar-ui{
    height: 60px;
    text-align: center;
}

.navbar-header-main{
    font-style: italic;
}

.mainsection {
    margin: 60px;
}

.form-ui{
    border: 1px solid white;
    padding: 20px;
}

ol.list-books-ui li{
    margin: 8px;
    font-size:15px;
}
