<div class="row">
    <form class="form-horizontal form-ui">
        <div class="form-group">
            <label class="control-label col-md-3" for="booktitle">Book name</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="Book title">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="booktitle">Author</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="Book title">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="booktitle">Volume</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="Book title">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="booktitle">Book desription</label>
            <div class="col-md-6">
                <input type="textarea" class="form-control" id="Book title">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" style="margin:auto;display: block;">Submit</button>
        </div>
    </form>
</div>