<div class="row">
    <div class="col-md-8" style="text-align: right;">
        <h4>
            Welcome to the university library, your one stop destination for all the books. <br> <br>
        </h4>
        <div>
        <q style="font-style: italic; font-size: 15px;">Libraries store the energy that fuels the imagination. They open up windows to the world and inspire us to explore and achieve, and contribute to improving our quality of life</q>
        <p>-Sidney Sheldon</p>
        <q style="font-style: italic; font-size: 15px;">To build up a library is to create a life. It’s never just a random collection of books</q>        <br>
        <p>-Carlos María Domínguez</p>
        </div>
    </div>
    <div class="col-md-4" style="margin-bottom:30px;">
        <img src="app/images/image1.jpg" height="180" width="350">
    </div>
</div>